<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
#form1{
    
    width:30%;
    padding-left:10%;
}
#button{
    background-color:"limegreen";
}
.messages{
    color:red;
    font-weight:bolder;
}
</style>
</head>
<body>
<body>
   
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
    <div id="form1">
         <h2>Add a new course</h2>
        <form action="/create" method="post"> {% csrf_token %}
            Course Name:<input type="text" name="name"><br><br>
            Course Description:<br><textarea name="desc" id="" cols="33" rows="5"></textarea><br><br>
            <input id="button" type="submit" name="create" value="Add Course"><br><br>
        </form>
    </div>
    <table>
        <tr>
          <th>Course Name</th>
          <th>Description</th>
          <th>Date Added</th>
          <th> Actions</th>
        </tr>
        {% for course in courses %}
        <tr>
          <td> <a href="">{{ course.name }}</a></td>
          <td>{{ course.desc }}</td>
          <td>{{ course.created_at }}</td>
          <td> <a href="/um/{{ course.id }}">Delete</a></td>
        </tr>
      {% endfor %}
        
      </table>
</body>
</html>